@font-face {
	font-family: 'Berlingske';
	src: url('../../assets/fonts/BerlingskeSerifTx-Rg.eot');
	src: local('â˜º'), url('../../assets/fonts/BerlingskeSerifTx-Rg.woff') format('woff'), url('../../assets/fonts/BerlingskeSerifTx-Rg.ttf') format('truetype'), url('../../assets/fonts/BerlingskeSerifTx-Rg.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}